<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layoutAnnonimous}">

<head>
</head>

<body>

	<div layout:fragment="content">

		<div class="d-flex justify-content-center align-items-center vh-75 mt-5">
			<form th:action="@{/users/login}" method="post"
				th:object="${loginDTO}">
				<div th:if="${#fields.hasGlobalErrors()}">
				    <p th:each="error : ${#fields.globalErrors()}"
				       th:text="${error}" class="alert alert-danger">
				    </p>
				</div>
				<div class="text-center">
				 	<fieldset class="form-group border border-primary rounded p-3">
					  	<legend>Sign in</legend>
						<div class="mb-2 form-group">
							<label for="username">Username</label> <br> <input
								type="text" class="form-control" name="username" th:field="*{username}" placeholder="Username" />
						</div>
	
						<div class="mb-2 form-group">
							<label for="password">Password</label> <br> <input
								type="password" class="form-control" name="password" th:field="*{password}" placeholder="Password" />
						</div>
						<button type="submit" class="btn btn-primary mx-2">Sign in</button>
 					</fieldset>
				</div>
				<div class="text-end">
					<br>
					<a th:href="@{/users/signUp}">I do not have an account yet</a>
				</div>
			</form>
		</div>
	</div>

</body>
</html>