<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
</head>

<body>

	<div layout:fragment="content">

		<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
			<form th:action="@{/users/login}" method="post"
				th:object="${loginDTO}">
				<div class="text-center">
					<div class="mb-2">
						<label for="username">Username</label> <br> <input
							type="text" name="username" th:field="*{username}" />
<!-- 						<div th:if="${#fields.hasErrors('username')}" -->
<!-- 					         th:errors="*{username}"> -->
<!-- 					    </div> -->
					</div>

					<div class="mb-2">
						<label for="password">Password</label> <br> <input
							type="password" name="password" th:field="*{password}" />
<!-- 					    <div th:if="${#fields.hasErrors('password')}" -->
<!-- 					         th:errors="*{password}"> -->
<!-- 					    </div> -->
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>