<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Practice Project</title>
	<link rel="icon" type="image/png" href="/pictures/favicon.png">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

	<div class="layout">

		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<main class="content">
			<div layout:fragment="content">Content</div>
		</main>

	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>